<h1>Card</h1>
{{#each courses}}
<p>
    <strong> {{title}}:</strong>
    <span>&nbsp;{{price}}</span>
    <span>&nbsp;{{count}}</span>
</p>
{{/each}}
<p><strong>Total price:</strong> &nbsp;{{totalPrice}}</p>