.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 1.5rem;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    max-width: 500px;
    height: auto;
}

.course .price.big {
    font-size: 2.5rem;
}

.home p{
    font-size: 1.5rem;
    line-height: 1.6rem;
}
.courses .courses_title{
    font-weight: bold;
}